#sideBar-left {
	all: unset;
	background-color: $base;
	font-family: 'FiraCode Nerd Font';
	/* #VerticalBar{ */
	/* 	margin: 27rem; */
	/* } */
	#microphone-circular-progress-bar{
		font-size: 1rem;
		color: $color0;
		border: solid 3px $color6;
	}
	#speaker-circular-progress-bar{
		font-size: 1rem;
		color: $color0;
		border: solid 3px $color2;
	}
	#Time{
		padding: 0rem;
		font-size: 1.3rem;
		font-family: 'DSEG14 Modern';
		& label {
			margin-top: 0.3rem;
			&:last-child{
				margin-bottom: 0.3rem;
			}
		}
	}

	#revealer-toggle{
		all:unset;
		& > label {
			margin: -0.1rem 0rem;
		}
	}

	#cpu-progress-bar {
		// color: $color0;
		border: solid 1px transparentize($color2, 0.3);
	}
	#battery-progress-bar {
		// color: $color0;
		border: solid 3px $color4;
	}
	#memory-progress-bar {
		// color: $color0;
		border: solid 3px $color1;
	}
}
